
@import 'https://fonts.googleapis.com/css?family=Prompt';
@import 'https://fonts.googleapis.com/css?family=Oswald';

 #body
 {
     height: 302.7vh;
    background-color: #3b4242;
    margin: 0;
    padding: 0;
}
#body-one, #body-two, #body-four {
    min-width: 150px;
    height: 90vh;          /*bootstrap to get screen height on load*/
    padding: 0;
    width: 100%;
}

#body-one {
    overflow: auto;
    margin: 0;
    padding: 0;
   top: 0;
    background: #3b4242 url('../images/background.jpg') no-repeat center top;
}
.box-name {
    font-family: 'Oswald';
    letter-spacing: 15px;           /* yay comments */
    text-align: center;
    margin: 0 auto;
    height: 400px;
    width: fit-content;
    margin-top: 250px;
}

.box-name h1 {
    opacity: 0.8;
    background-color: white;
    overflow: hidden;
}
.box-name .foot {
    padding: 5px 15px 5px 15px;
    letter-spacing: normal;
    background-color: lightgray;
    color: #444d6b;
    font-size: 20px;
    opacity: 0.9;
}

.box-name h1 span {
    margin-left: 15px;
    font-size: 145px;
    background: url(../images/background.jpg) no-repeat center top;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    background-position: center -260px;
}

#body-four {
    background-color: #726659;
    margin-top: 100px;
    overflow: hidden;
}
#body-two {
    background-color: #676f68;
    margin-top: 100px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
.active {
    text-decoration: underline;
}
.box-form {
    padding: 1px 50px 1px 50px;
    margin: 0 auto;
    height: 530px;
    margin-top: 160px;
    width: 50%;
    background-color: #708090;
    font-family: "Apple SD Gothic Neo";
}
.about-Slider {
    width: 90%;
    margin: 0 auto;
}
#caro1 {
    height: 850px;
    width: 100%;
   background: black url(../images/carousel1.jpg) top left no-repeat;
    background-size: 100%;
}
#caro2 {

    background: black url(../images/carousel2.jpg) top left no-repeat;
    background-size: 100%;
    height: 850px;
    width: 100%;
}
#caro3 {
    height: 850px;
    width: 100%;
    background: black url(../images/carousel3.jpg) top left no-repeat;
    background-size: 100%;
}
